BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK JTAGPATHS ;
IOBUF PORT "LPCLK[1]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "LPCLK[0]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "LP1[1]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "LP1[0]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "LP0[1]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "LP0[0]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "DCK" IO_TYPE=LVDS25E PULLMODE=NONE ;
IOBUF PORT "D1" IO_TYPE=LVDS25E PULLMODE=NONE ;
IOBUF PORT "D0" IO_TYPE=LVDS25E PULLMODE=NONE ;
GSR_NET NET "reset_n_c_i";
FREQUENCY NET "CLKOP" 150.000000 MHz ;
FREQUENCY NET "CLKOS" 150.000000 MHz ;
FREQUENCY NET "byte_clk_c" 37.500000 MHz ;
FREQUENCY NET "PIXCLK_c" 75.000000 MHz ;
IOBUF PORT "D2" IO_TYPE=LVDS25E PULLMODE=NONE ;
IOBUF PORT "D3" IO_TYPE=LVDS25E PULLMODE=NONE ;
IOBUF PORT "LP2[0]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "LP2[1]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "LP3[0]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "LP3[1]" IO_TYPE=LVCMOS12 ;
SYSCONFIG SLAVE_SPI_PORT=ENABLE ;
LOCATE COMP "PIXCLK" SITE "H14" ;
LOCATE COMP "reset_n" SITE "R5" ;
LOCATE COMP "LP0[0]" SITE "D2" ;
LOCATE COMP "LP0[1]" SITE "E1" ;
LOCATE COMP "LP1[0]" SITE "B1" ;
LOCATE COMP "LP1[1]" SITE "C2" ;
LOCATE COMP "LP2[0]" SITE "F2" ;
LOCATE COMP "LP2[1]" SITE "G2" ;
LOCATE COMP "LP3[0]" SITE "E2" ;
LOCATE COMP "LP3[1]" SITE "F3" ;
LOCATE COMP "LPCLK[0]" SITE "C1" ;
LOCATE COMP "LPCLK[1]" SITE "D1" ;
LOCATE COMP "D0" SITE "A5" ;
LOCATE COMP "D1" SITE "B9" ;
LOCATE COMP "D2" SITE "A3" ;
LOCATE COMP "D3" SITE "A4" ;
LOCATE COMP "DCK" SITE "C8" ;
IOBUF PORT "reset_n" PULLMODE=UP IO_TYPE=LVCMOS25 ;
BANK 1 VCCIO 3.3 V;
LOCATE COMP "FV" SITE "J1" ;
LOCATE COMP "LV" SITE "L15" ;
LOCATE COMP "PIXDATA[0]" SITE "H16" ;
LOCATE COMP "PIXDATA[1]" SITE "H15" ;
LOCATE COMP "PIXDATA[2]" SITE "G16" ;
LOCATE COMP "PIXDATA[3]" SITE "G15" ;
LOCATE COMP "PIXDATA[4]" SITE "F16" ;
LOCATE COMP "PIXDATA[5]" SITE "F15" ;
LOCATE COMP "PIXDATA[6]" SITE "E16" ;
LOCATE COMP "PIXDATA[7]" SITE "E15" ;
LOCATE COMP "PIXDATA[8]" SITE "R16" ;
LOCATE COMP "PIXDATA[9]" SITE "P15" ;
LOCATE COMP "PIXDATA[10]" SITE "N14" ;
LOCATE COMP "PIXDATA[11]" SITE "N16" ;
LOCATE COMP "PIXDATA[12]" SITE "N15" ;
LOCATE COMP "PIXDATA[13]" SITE "M16" ;
LOCATE COMP "PIXDATA[14]" SITE "M15" ;
LOCATE COMP "PIXDATA[15]" SITE "L16" ;
USE PRIMARY NET "PIXCLK_c" ;
