*.ini
*.ccl
*.html
*.htm
*.xml
.build_status
*.cam
*.tcr
# *.log
*.ddt
*.alt
*.areasrr
*.bgn
*.drc
*.edi
*.fse
*.jed
*.mrp
*.ncd
*.ngd
*.p2t
*.p3t
*.pad
*.par
*.prf
*.pt
*.srd
*.srf
*.srm
*.srr
*.srs
*.t2b
*.rpt
*.asd
*.cam
*.hrr
*.ncd
run_options.txt
*.prs
*.log.bak
*.xdm
*.rptmap
*.srr_Min
*.szr
*.xck
report/
synlog/
syntmp/
synwork/
*synplify.lpf
*synplify.tcl
automake.log
stdout.log
synlog.tcl
hdlparser.log
*.xcf
