BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK JTAGPATHS ;
LOCATE COMP "DCK" SITE "C8" ;
LOCATE COMP "D0" SITE "A3" ;
LOCATE COMP "LPCLK[1]" SITE "F2" ;
LOCATE COMP "LPCLK[0]" SITE "F1" ;
LOCATE COMP "LP0[1]" SITE "E2" ;
LOCATE COMP "LP0[0]" SITE "E1" ;
IOBUF PORT "LPCLK[1]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "LPCLK[0]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "LP0[1]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "LP0[0]" IO_TYPE=LVCMOS12 ;
IOBUF PORT "DCK" IO_TYPE=LVDS25E PULLMODE=NONE ;
IOBUF PORT "D0" IO_TYPE=LVDS25E PULLMODE=NONE ;
GSR_NET NET "reset_n_c_i";
FREQUENCY NET "CLKOP" 108.000000 MHz ;
FREQUENCY NET "CLKOS" 108.000000 MHz ;
FREQUENCY NET "PIXCLK_c" 27.000000 MHz ;
FREQUENCY NET "byte_clk" 27.000000 MHz ;
LOCATE COMP "PIXCLK" SITE "H14" ;
LOCATE COMP "PIXDATA[0]" SITE "C15" ;
LOCATE COMP "PIXDATA[1]" SITE "B16" ;
LOCATE COMP "PIXDATA[2]" SITE "C16" ;
LOCATE COMP "PIXDATA[3]" SITE "D16" ;
LOCATE COMP "PIXDATA[4]" SITE "D15" ;
LOCATE COMP "PIXDATA[5]" SITE "E16" ;
LOCATE COMP "PIXDATA[6]" SITE "F16" ;
LOCATE COMP "PIXDATA[7]" SITE "G16" ;
LOCATE COMP "reset_n" SITE "J15" ;
IOBUF PORT "reset_n" PULLMODE=UP IO_TYPE=LVCMOS25 ;
LOCATE COMP "FV" SITE "E15" ;
LOCATE COMP "LV" SITE "F15" ;
SYSCONFIG SLAVE_SPI_PORT=ENABLE ;
